aniso8601==10.0.1
attrs==25.4.0
blinker==1.9.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
dnspython==2.7.0
flasgger==0.9.7.1
Flask==3.1.0
Flask-RESTful==0.3.10
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.2
mistune==3.1.4
packaging==25.0
pillow==12.0.0
psycopg2-binary==2.9.10
pymongo==4.12.1
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
reportlab==4.4.4
requests==2.32.4
rpds-py==0.27.1
six==1.17.0
urllib3==2.5.0
Werkzeug==3.1.3
